InvoiceAI Smart Invoice Processing and Approval/ApprovalFlow_20200909042741/Microsoft.Flow/flows/da6b8170-529b-4ed0-ad1d-7ac504c1df4b/definition.json
{"name":"36563765-083b-49d8-be9c-f8e5c8669d58","id":"/providers/Microsoft.Flow/flows/36563765-083b-49d8-be9c-f8e5c8669d58","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Invoice Approval Flow","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"560f9a16-060c-4e6a-b8cc-1bd031a5c88e","type":"User","tenantId":"b714e32b-dad0-4ea8-ba7e-9e0b41e74179"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-09-09T02:03:49.89157Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":3},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ray26.sharepoint.com/sites/HealthCare'))}/tables/@{encodeURIComponent(encodeURIComponent('2422304e-e4d6-4df1-a2c4-66a091af8f13'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Condition":{"actions":{"Inform_item_creator_of_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']}","Subject":"Item with Invoice #: @{triggerBody()?['Title']} approved","Body":"Your request for @{triggerBody()?['Title']} has been approved by . Comments (if any): "},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Inform_item_creator_of_approval":["Succeeded"]},"type":"SetVariable","inputs":{"name":"vStatus","value":"Approved"}}},"runAfter":{"Status":["Succeeded"]},"else":{"actions":{"Inform_item_creator_of_rejection":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']}","Subject":"Item with Invoice #: @{triggerBody()?['Title']} rejected","Body":"Your request for @{triggerBody()?['Title']} has been rejected by . Comments (if any): "},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"Inform_item_creator_of_rejection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"vStatus","value":"Rejected"}}}},"expression":"@equals(body('Start_and_wait_for_an_approval')?['outcome'], 'Approve')","type":"If"},"Status":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"vStatus","type":"string","value":"Pending"}]}},"Update_item":{"runAfter":{"Condition":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Title":"@triggerBody()?['Title']","ApprovalStats":{"Value":"@variables('vStatus')"},"ApprovalDate":"@{utcNow()}","Comment_x0020_by_x0020_Approver":"@variables('vComments')"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ray26.sharepoint.com/sites/HealthCare'))}/tables/@{encodeURIComponent(encodeURIComponent('2422304e-e4d6-4df1-a2c4-66a091af8f13'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@{listCallbackUrl()}","responseOptions":["Approve","Reject"],"title":"Please review Invoice#: @{triggerBody()?['Title']}","assignedTo":"dhruvshah@ray26.onmicrosoft.com","details":"@{triggerBody()?['Author']?['DisplayName']} at @{triggerBody()?['Created']}","itemLink":"@triggerBody()?['{Link}']","itemLinkDescription":"@triggerBody()?['{Name}']","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('CustomResponse')}/subscriptions","authentication":"@parameters('$authentication')"}},"Initialize_variable_2":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"vComments","type":"string"}]}},"Apply_to_each":{"foreach":"@body('Start_and_wait_for_an_approval')?['responses']","actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"vComments","value":"@items('Apply_to_each')?['comments']"}}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"Foreach"}},"description":"Use this template for processing approvals on SharePoint list items. The approver can view their approval requests in the Approvals Center and over email. Once an item is approved or rejected, the item creator is sent a confirmation email."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-732748f8-d6c5-4362-a350-b06086c44815","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"f17a70f615d549f59671ae23da6352fb","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-a3d05de0-2631-493b-90a7-ab7d6babc24b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}